<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @profile.name %>
</p>

<p>
  <b>Location:</b>
  <%= @profile.location %>
</p>

<p>
  <b>Title:</b>
  <%= @profile.title %>
</p>

<p>
<b>My Skills:</b>
	<ul>
  	<% @profile.skills.each do |skill| %>
    	<li><%= skill.name %></li>
  	<% end %>
	</ul>
</p>

<p>
  <b>About me:</b>
  <%= @profile.about_me %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
