<tr>
  <td><%= project.name %></td>
  <td><%= project.length %></td>
  <td><%= project.project_type %></td>
  <td><%= project.hometown %></td>
  <td><%= project.details %></td>
  <td><%= project.startdate %></td>
  <td><%= project.schedule_info %></td>
  <td><%= link_to 'Show', project %></td>
<% if current_user == project.user %>
  <td><%= link_to 'Edit', edit_project_path(project) %></td>
  <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
</tr>